@model TorneioFutebol.Models.Time

@{
    ViewBag.Title = "Adicionar time";
}

<h2><a href="../Torneios/Gerenciar/@ViewBag.torneio.Id">@ViewBag.torneio.Nome</a></h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            @Html.Hidden("idTorneioss", new { idTorneio = ViewBag.torneio.Id })

        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar time" class="btn btn-default" />
                @Html.ActionLink("Cancelar", "Gerenciar", "Torneios", new { id = ViewBag.torneio.Id }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
