@model TorneioFutebol.Models.Torneio

@{
    ViewBag.Title = "Gerenciar jogos";
}

<h2><a href="../Torneios/Gerenciar/@Model.Id">@Model.Nome</a></h2>

<div>
    <h4>Torneio</h4>
    <hr />

    @for (int i = 1; i <= Model.Rodadas(); i++)
    {
        <div>
            <form>
                <table class="" border="0" align="center">
                    <tr>
                        @if (i == Model.Rodadas())
                        {
                            <td colspan="4" align="center" style="font-weight:bold">Final</td>
                        }
                        else
                        {
                            <td colspan="4" align="center" style="font-weight:bold">@String.Concat(i, "ª Rodada")</td>
                        }
                    </tr>

                    @foreach (var jogo in Model.JogosPorRodada(i))
                    {
                        <tr>
                            <td></td>
                            <td align="center">@Html.DisplayFor(modelItem => jogo.Time1.Nome)</td>
                            <td></td>
                            <td align="center">@Html.DisplayFor(modelItem => jogo.Time2.Nome)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => jogo.Nome)</td>
                            <td align="center"><input type="number" min="0" max="20" style="margin: 0 30px" /></td>
                            <td align="center">X</td>
                            <td align="center"><input type="number" min="0" max="20" style="margin: 0 30px" /></td>
                        </tr>
                        <tr><td colspan="4"><hr style="margin:10px 0 !important" /></td></tr>
                    }
                </table>
                <
            </form>
        </div>
        
        <br />
    }
</div>

