@model TorneioFutebol.Models.Torneio

@{
    ViewBag.Title = "Gerenciar jogos";
    string nomeRodada = "";
    string rodadaHabilitada = "";
}

<h2><a href="../Torneios/Gerenciar/@Model.Id">@Model.Nome</a></h2>

<div>
    <h4>Torneio</h4>
    <hr />

    @for (int i = 1; i <= Model.Rodadas(); i++)
    {
        <div>
            @using (Html.BeginForm("GerarResultado", "Jogos", FormMethod.Post)) { 
                <table class="" border="0" align="center">
                    @if (Model.RodadaAtiva(i))
                    {
                        rodadaHabilitada = "";
                    }
                    else
                    {
                        rodadaHabilitada = "disabled";
                    }

                    @if (i == Model.Rodadas())
                    {
                        nomeRodada = "Final";
                    }
                    else
                    {
                        nomeRodada = String.Concat(i, "ª Rodada");
                    }

                    <tr>
                        <td colspan="4" align="center" style="font-weight:bold">@nomeRodada</td>
                    </tr>

                    @foreach (var jogo in Model.JogosPorRodada(i))
                    {
                        string time1 = "Não definido";
                        string time2 = "Não definido";

                        string gols1 = "";
                        string gols2 = "";

                        if (jogo.Time1 != null)
                        {

                        }

                        if (jogo.JogoEncerrado)
                        {
                            gols1 = jogo.GolsTime1.ToString();
                            gols2 = jogo.GolsTime2.ToString();
                        }

                        <tr>
                            <td></td>
                            <td align="center">@Html.DisplayFor(modelItem => jogo.Time1.Nome)</td>
                            <td></td>
                            <td align="center">@Html.DisplayFor(modelItem => jogo.Time2.Nome)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => jogo.Nome)</td>
                            <td align="center">@gols1</td>
                            <td align="center">X</td>
                            <td align="center">@gols2</td>
                        </tr>
                        <tr><td colspan="4"><hr style="margin:10px 0 !important" /></td></tr>
                    }
                </table>
                <div style="display:flex; justify-content:center;">
                    <input data-val="true" data-val-number="The field Int32 must be a number." data-val-required="O campo Int32 é obrigatório." id="idTorneio" name="idTorneio" type="hidden" value="1">
                    <input data-val="true" data-val-number="The field Int32 must be a number." data-val-required="O campo Int32 é obrigatório." id="rodada" name="rodada" type="hidden" value="1">

                    <input type="submit" value="@String.Concat("Salvar dados da ", nomeRodada)" class="btn btn-default" @rodadaHabilitada />
                    &nbsp


                    @*<input type="submit" name="GerarResultado" value="Gerar dados da aleatoriamente" class="btn btn-default" @rodadaHabilitada />*@
                </div>
            }
        </div>
        
        <br />
    }
</div>

